files:
  "/tmp/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root /usr/bin/php /var/www/html/artisan campaign:campaignRun >> /var/log/mycrons/campaignRun.log 2>&1
      * * * * * root /usr/bin/php /var/www/html/artisan campaignNotification:runCampaignNotification >> /var/log/mycrons/runCampaignNotification.log 2>&1
      59 * * * * root	/usr/bin/php /var/www/html/artisan twilio:twilioStatusUpdate >> /var/log/mycrons/twilioStatusUpdate.log 2>&1

container_commands:
  create_logs_directory:
    command: mkdir -p /var/log/mycrons
    ignoreErrors: true
  start_cronjob: 
    command: cp /tmp/mycron /etc/cron.d/mycron
    ignoreErrors: true
commands:
  delete_cronjob_file: 
    command: rm "/etc/cron.d/mycron.bak"
    ignoreErrors: true
